/*reset*/
@import "reset.css";

/*variables*/
@import "variables.css";

/*components*/
@import "components/header&footer.css";
@import "components/review.css";

/*screens*/
@import "screens/main.css";
@import "screens/about-us.css";
@import "screens/exhibition.css";
@import "screens/store.css";
@import "screens/detail.css";

/*font*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    line-height: 1.55;
    cursor: none !important;
    -webkit-cursor: none !important;
    text-underline-offset : 5px;
  }
body{
    background-color: #ffffff;
    padding: 0px var(--main-margin);
    box-sizing: border-box;
    cursor: none !important;
    -webkit-cursor: none !important;
}

.underline {
    text-decoration: underline;
    text-underline-offset : 5px;
}
h1{
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
}
h2{
    font-weight: 600;
}
h6{
    font-size: 20px;
    font-weight: 600;
}

.cursor { 
    position: fixed; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background: white;
    pointer-events: none; 
    z-index: 9999;
    transition: transform 0.2s; 
    mix-blend-mode:difference;
}





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (max-width:1279px) { 
  } 
  /* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
  @media all and (max-width:1023px) { 
    body{
        padding: 0px 38px;
    }
    h1{
        font-size: 30px;
    }
    h6{
        font-size: 18px;
    }
    
  } 
  /* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (max-width:767px) {
    body{
        padding: 0px 24px;
    }
    h1{
        font-size: 26px;
    }
  } 
  
  /* 모바일 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
    body{
        padding: 0px 16px;
    }
    h1{
        font-size: 24px;
    }
  }





/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (max-width:1279px) { 
} 
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) { 
} 
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
} 
/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
}

